ErrorDocument 400 https://7zz.shop/
ErrorDocument 401 https://7zz.shop/
ErrorDocument 403 https://7zz.shop/
ErrorDocument app https://7zz.shop/
ErrorDocument 500 https://7zz.shop/
ErrorDocument 503 https://7zz.shop/
ErrorDocument 404 https://7zz.shop/

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]